html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: helvetica;
    color: #f4aa10;
    background-color: #000;
    width:715px;
    margin:auto;
}
.clear {
    content: "";
    clear: both;
    display: table;
}
h1{
    font-family: seagram tfb;
    font-size: 38px;
    text-transform: uppercase;
    color: #f4aa10;
    margin-left: 20px;
    padding-left: 50px;
}
h2{
    color: white;
    padding-left: 3px;
    margin-bottom: 10px;    
}
#kanye{
    float: left;
    width: 40%;
}
#quote{
    width: 120%;
}
input[type="reset"], input[type="submit"] {
  position:relative;
  left:1.77in;
  top:14px;
  padding:12px;
  border:none; /*remove default*/
  border-radius:3px;
  border-bottom:4px orange solid;
  background-color:antiquewhite;
  color:#333;
  font-weight:bold;
  font-size:18px;
}
footer{
    text-transform: uppercase;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
a:link{
    font-size: 13px;
    color: #333333;
    text-decoration: none;
    padding-right: 25px;
    }
a:visited{
    color: gray;
    }
a:hover{
    color: #20b2b2;
}
