html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: #FCC7A9;
    width:715px;
    margin:auto;
}
.clear {
    content: "";
    clear: both;
    display: table;
}
.mySketch{
    margin-right: -10px;
}
h1{
    font-size: 65px;
    color: #20b2b2;
    text-align: center;
    padding-bottom: 50px;
}
h2{
    color: white;
    font: bold 18px/30px Helvetica, Sans-Serif;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.3);
}
div{
    float: left;
  	position: relative;
  	padding-right: 50px;
  	text-align: center;
    left: 5%;
}
li{
    font-family: montserrat;
    font-size: 15px;
    color: #20b2b2;
    text-align: left;
    margin-top: 50px;
}
footer{
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
a:link{
    font-size: 15px;
    color: #20b2b2;
    text-decoration: none;
    padding-right: 25px;
    }
a:visited{
    color: gray;
    }
a:hover{
    color: #F7765A;
}
